body{
    background-color: rgb(214, 253, 253);
}

.princi{
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 247, 247) ;
    margin-left: 330px;
    margin-right: 330px;
    margin-top: 65px;
    height: 580px;
}

/* formulaire_1 */

.formu{
    display: flex;
    
}
.img{
    height: 580px;
    width: 350px;
}
.gauch{
    margin-right: 60px;
}
.droite{
    margin-right: 50px;
}
.regis{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(207, 183, 147);
    width: 290px;
    margin-left: 110px;
    color: rgb(202, 151, 55);
    margin-top: 60px;
    font-size: 2em;
}
.cercl{
    display: flex;
    justify-content: center;
    color: rgb(100, 100, 100);
}
.tret{
    width: 75px;
}
.vert{
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 22px;
}
.a{
    background-color: rgb(252, 247, 247)  ;
    font-size: 18px;
    height: 40px;
    width: 200px;
}
input{
    border: none;
    border-bottom: 2px solid rgb(224, 221, 221);
}
label{
    font-size: 20px;
    color: rgb(112, 112, 112);
}
select{
    border: none;
    border-bottom: 2px solid rgb(224, 221, 221);
    color: rgb(112, 112, 112);
}
.label{
    margin-top: 25px;
}
.g{
    font-size: 20px;
    background: rgb(245, 215, 158);
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    border:none;
}

/* formulaire_2 */

.t1{
    font-size: 18px;
    background: rgb(245, 215, 158);
    margin-top: 70px;
    margin-left: 200px;
    width: 120px;
    height: 37px;
    border:none; 
}
.t2{
    font-size: 18px;
    background: rgb(56, 51, 41);
    margin-left: 10px;
    width: 120px;
    height: 37px;
    border:none; 
}


/* formulaire 3 */


.re{
    border: 1px solid rgb(207, 183, 147);
    width: 255px ;
    color: rgb(202, 151, 55);
    margin-top: 60px;
    font-size: 2em;
    margin-left: 100px;
}
.cer{
    color: rgb(100, 100, 100);
    margin-left: 120px;
}
.ve{
    margin-left: 100px;
    color: brown;
    font-size: 22px;
}
.tr{
    width: 75px;
}
.tetra{
    margin-right: 30px;
    width: 480px;
    height: 100px;
    border: none;
    border-bottom: 2px solid rgb(216, 216, 216);
    font-size: 17px;
}
.b1{
    font-size: 17px;
    background: rgb(245, 215, 158);
    margin-left: 150px;
    width: 140px;
    height: 35px;
    border:none;
}
.b2{
    font-size: 17px;
    background: rgb(177, 160, 130);
    margin-left: 10px;
    width: 140px;
    height: 35px;
    border:none;
}
.lien{
    color: rgb(113, 223, 186);
}